* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: indigo;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
}

canvas {
  border: 4px solid #ff6600;
  border-radius: 8px;
  background-color: #feff9d;
}

/* BUTTONS */
.btns {
  display: flex;
  width: 100%;
  margin: 30px 0;
  flex-direction: column;
}

.btns__center {
  margin: 0 auto;
}

button {
  width: 80px;
  padding: 10px 10px;
  background-color: #fdef05;
  border-radius: 15px;
  border-color: #ff6600;
  font-family: inherit;
}

#up {
  margin: 0 auto;
  margin-bottom: 15px;
}

#left {
  margin-right: 10px;
}

#right {
  margin-left: 10px;
}

#down {
  margin: 0 auto;
  margin-top: 15px;
}

/* MESSAGES */
.messages {
  display: flex;
  width: 75%;
  margin: 0 auto;
  max-width: 460px;
}

p {
  display: block;
  margin: 0;
  width: 100%;
}