* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: indigo;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95vw;
  margin: 0 auto;
}

canvas {
  border: 4px solid #ff6600;
  border-radius: 8px;
  background-color: #feff9d;
}

/* BUTTONS */
.btns {
  display: flex;
  width: 100%;
  margin: 30px 0;
  flex-direction: column;
}

.btns__center {
  margin: 0 auto;
}

button {
  width: 80px;
  padding: 10px 10px;
  background-color: #fdef05;
  border-radius: 15px;
  border-color: #ff6600;
  font-family: inherit;
  cursor: pointer;
}

#up {
  margin: 0 auto;
  margin-bottom: 15px;
}

#left {
  margin-right: 10px;
}

#right {
  margin-left: 10px;
}

#down {
  margin: 0 auto;
  margin-top: 15px;
}

/* MESSAGES */
.messages {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px auto 20px;
}

p {
  display: block;
  margin: 0;
  min-width: 150px;
  text-align: center;
}

/* Game ... */
.game {
  position: absolute;
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding: 20px;
  left: 0;
  right: 0;
  /* flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; */
  border: 2px solid #ff6600;
  border-radius: 25px;
  background-color: #7908db;
  text-align: center;
}

.game--start__message,
.game__message {
  margin: auto;
}

.game--start__message h1,
.game__message h2 {
  margin-bottom: 30px;
}

.game--start__message p {
  margin-bottom: 20px;
}

.message__tip {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #8e36db;
}

.game__message p:nth-child(4) {
  margin-top: 15px;
}

#play-game {
  width: 40%;
}

#play-game:hover {
  background-color: #ff6600;
}


.play-again {
  min-width: 80%;
  margin: 15px auto;
  padding: 10px;
}

.play-again:hover {
  background-color: #ff6600;
  cursor: pointer;
}

#play-game span, .play-again span {
  display: block;
  margin-top: 10px;
}