* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #F27457;
  --primary-dark: #BF665E;
  --secondary-color: #04BF9D;
  --secondary-dark: #03A696;
  --bg-color: #253659;
}

body {
  padding: 0;
  background-color: var(--bg-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

/* helpers */
.active {
  display: flex;
}

.inactive {
  display: none;
}

canvas {
  border-radius: 10px;
  background-color: var(--primary-color);
}

.game-container {
  justify-content: center;
  flex-wrap: wrap;
  width: 95vw;
  margin: 0 auto;
}

/* BUTTONS */
.btns {
  display: flex;
  width: 100%;
  margin: 30px 0 0;
  flex-direction: column;
}

.btns__center {
  margin: 0 auto;
}

button {
  width: 80px;
  padding: 10px 10px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  border-color: var(--secondary-dark);
  font-family: inherit;
  cursor: pointer;
}

#up {
  margin: 0 auto;
  margin-bottom: 15px;
}

#left {
  margin-right: 10px;
}

#right {
  margin-left: 10px;
}

#down {
  margin: 0 auto;
  margin-top: 15px;
}

/* MESSAGES */
.messages {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto 24px;
}

p {
  display: block;
  margin: 0;
  min-width: 150px;
  text-align: center;
}

/* Game ... */
.game,
.leaderboard {
  position: absolute;
  width: 90%;
  max-width: 700px;
  height: 90%;
  margin: auto;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  text-align: center;
}

.game--start__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__message {
  margin: auto;
}

.game--start__message h1,
.game__message h2,
.leaderboard h2 {
  margin-bottom: 30px;
  color: var(--primary-color);
}

.game--start__message p {
  margin-bottom: 20px;
}

.message__tip,
.leaderboard__table {
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--primary-dark);
  color: #000000;
}

.game__message p:nth-child(4) {
  margin-top: 15px;
}

.game__message .result {
  margin-top: 20px;
  font-size: 1.5rem;
}

.game--start__message__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#play-game,
.leaderboard--btn {
  width: 40%;
}

#play-game:hover,
.leaderboard--btn:hover {
  background-color: var(--secondary-dark);
}

.play-again {
  min-width: 80%;
  margin: 15px auto;
  padding: 10px;
}

.play-again:hover {
  background-color: var(--secondary-dark);
  cursor: pointer;
}

#play-game span,
.play-again span,
.leaderboard--btn span {
  display: block;
  margin-top: 10px;
}

/* Leaderboard ... */
.leaderboard {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leaderboard__table {
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--primary-dark);
  background-color: transparent;
  color: #FFFFFF;
}

.leaderboard__table__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* media queries */
@media (min-width: 768px) {
  .btns {
    display: none;
  }

}